@page "/CompareThreePDF"
@using System.IO
@using ExtractLibrary
@using ExtractLibrary.Helpers
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using SpecFlowPdfReader.Helpers
@using System.Text
@inject IWebHostEnvironment env
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime

<h3 class="header">Compare three PDF</h3>

<div class="modal @ModalClass" id="myModal">
    <div class="modal-content">
        <span class="close" @onclick="ToggleModal">&times;</span>
        <p>
            After you've uploaded all three files, you can click the "Compare PDF" button to start the comparison process.<br>
            The application will read each PDF and compare the text content.
            <br>The comparison includes checking for text that appears in one file but not in others, differences in the order of text, and so on.
        </p>
    </div>
</div>

<div class="container">
    <div class="button-row">
        <div class="file-input-container">
            <InputFile OnChange="@(e => OnFileSelected(e, 1))" MaxFileSize="104857600" accept="application/pdf" disabled="@IsCompare" />
            @if (!isFile1Uploaded)
            {
                <label for="file-upload" class="custom-file-upload">Upload PDF 1" is the main file for comparison with PDF 2 and PDF 3.</label>
            }
            @if (isFile1Extracted && !IsLoading)
            {
                <div class="alert alert-success upload-success">Success Extract</div>
            }
            @if (extractError1 != "")
            {
                <div class="alert alert-danger upload-error">@extractError1</div>
            }
        </div>
        <div class="file-input-container">
            <InputFile OnChange="@(e => OnFileSelected(e, 2))" MaxFileSize="104857600" accept="application/pdf" disabled="@IsCompare" />
            @if (!isFile2Uploaded)
            {
                <label for="file-upload" class="custom-file-upload">Upload PDF 2</label>
            }
            @if (isFile2Extracted && !IsLoading)
            {
                <div class="alert alert-success upload-success">Success Extract</div>
            }
            @if (extractError2 != "")
            {
                <div class="alert alert-danger upload-error">@extractError2</div>
            }
        </div>
        <div class="file-input-container">
            <InputFile OnChange="@(e => OnFileSelected(e, 3))" MaxFileSize="104857600" accept="application/pdf" disabled="@IsCompare" />
            @if (!isFile3Uploaded)
            {
                <label for="file-upload" class="custom-file-upload">Upload PDF 3</label>
            }
            @if (isFile3Extracted && !IsLoading)
            {
                <div class="alert alert-success upload-success">Success Extract</div>
            }
            @if (extractError3 != "")
            {
                <div class="alert alert-danger upload-error">@extractError3</div>
            }
        </div>
    </div>
    <div class="button-row">
        <div class="info-compare-container">
            <button class="btn btn-info" @onclick="ToggleModal">Info</button>
            <button class="btn btn-primary" @onclick="ComparePDFfiles" disabled="@(!isFile1Uploaded || !isFile2Uploaded || !isFile3Uploaded || IsCompare)">Compare PDF</button>
        </div>
        <button class="btn btn-danger" @onclick="CleanReport" disabled="@IsCompare">Clean report</button>
        <button class="btn btn-danger" @onclick="CleanJson" disabled="@IsCompare">Clean JsonFile</button>

    </div>
</div>

@if (HasSuccess)
{
    <div class="alert alert-success" role="alert" style="margin-top: 60px;">
        Operation was successful!
    </div>
}

@if (!string.IsNullOrEmpty(MyText))
{
    <div style="margin-top: 60px; padding: 15px; color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; border-radius: .25rem;">
        Error: @MyText
    </div>
}

@if (Report == "No differences found among the three PDF files.")
{
    <div class="alert alert-success" role="alert" style="margin-top: 60px;">
        @Report
    </div>
}

@if (IsLoading)
{
    <div class="alert alert-primary" role="alert" style="margin-top: 60px;">
        Uploading...
    </div>
}

@if (IsCompare)
{
    <div class="alert alert-primary" role="alert" style="margin-top: 60px;">
        Comparing...
    </div>
}

@if (HasError)
{
    <div class="alert alert-danger" role="alert" style="margin-top: 60px;">
        @ErrorAlert
    </div>
}

@if (Report == "Passed" && !IsLoading && !IsCompare)
{
    <div class="alert alert-success" role="alert" style="margin-top: 60px;">
        No differences were found in the compared PDFs.
    </div>
}

<iframe class="pdf-frame" src="@($"")" width="100%" height="800px"></iframe>

@code {
    private string _message = "";
    private bool IsLoading { get; set; }
    private string _fileNameFirst;
    private string _fileNameSecond;
    private string _fileNameThird;
    private string _fileSize;
    private string FilePathCopyFirst { get; set; }
    private string FilePathCopySecond { get; set; }
    private string FilePathCopyThird { get; set; }
    private string MyText { get; set; }
    private bool IsCompare { get; set; }
    private string Report { get; set; }
    private string jsonFolder = JsonHelper.GetFolderJsonResult();
    private string uniqueKey { get; set; } = Guid.NewGuid().ToString();
    private string pdfSrc { get; set; }
    private string _reportPath;
    private string _tempFoldePath;
    private bool HasError { get; set; } = false;
    private string ErrorAlert { get; set; }
    private string OutputText { get; set; }
    private bool isFile1Uploaded { get; set; } = false;
    private bool isFile2Uploaded { get; set; } = false;
    private bool isFile3Uploaded { get; set; } = false;
    private bool isFile1Extracted { get; set; } = false;
    private bool isFile2Extracted { get; set; } = false;
    private bool isFile3Extracted { get; set; } = false;
    private string extractError1 { get; set; } = "";
    private string extractError2 { get; set; } = "";
    private string extractError3 { get; set; } = "";
    private bool HasSuccess { get; set; } = false;
    private string SuccessAlert { get; set; }
    private string SuccessAlertSecond { get; set; }
    private string SuccessAlertThird { get; set; }
    private string ModalClass { get; set; } = "modal-hidden";
    private bool isReportLoadedInIframe = false;


    private async void ComparePDFfiles()
    {
        DateTime now = DateTime.Now;
        string pdfNameFirst = FilePathCopyFirst;
        string pdfNameSecond = FilePathCopySecond;
        string pdfNameThird = FilePathCopyThird;
        string fileNameFirst = _fileNameFirst;
        string fileNameSecond = _fileNameSecond;
        string fileNameThird = _fileNameThird;
        string dateTime = now.ToString();

        try
        {
            IsCompare = true;
            await InvokeAsync(StateHasChanged);

            ExtractPDF extractPDFCopyFirst = new ExtractPDF();
            var resultFirst = await extractPDFCopyFirst.ExtractTextFromPDFForCompare(pdfNameFirst);

            if (resultFirst.Item2 == "Success" && !isReportLoadedInIframe)
            {
                isFile1Extracted = true;
                HasSuccess = true;  // Set success to true
                SuccessAlert = resultFirst.Item1;
                await InvokeAsync(StateHasChanged);
            }
            else
            {
                extractError1 = resultFirst.Item2;
            }

            ExtractPDF extractPDFCopySecond = new ExtractPDF();
            var resultSecond = await extractPDFCopySecond.ExtractTextFromPDFForCompare(pdfNameSecond);

            if (resultSecond.Item2 == "Success")
            {
                isFile2Extracted = true;
                HasSuccess = true;
                SuccessAlertSecond = resultSecond.Item1;
                await InvokeAsync(StateHasChanged);
            }
            else
            {
                extractError2 = resultSecond.Item2;
            }

            ExtractPDF extractPDFCopyThird = new ExtractPDF();
            var resultThird = await extractPDFCopyThird.ExtractTextFromPDFForCompare(pdfNameThird);

            if (resultThird.Item2 == "Success")
            {
                isFile3Extracted = true;
                HasSuccess = true;
                SuccessAlertThird = resultThird.Item1;
                await InvokeAsync(StateHasChanged);
            }
            else
            {
                extractError2 = resultThird.Item2;
            }

            Console.WriteLine($"First path - {resultFirst} \nSecond path - {resultSecond} \nThird path - {resultThird}");
            OutputText = $"First path - {resultFirst} \nSecond path - {resultSecond} \nThird path - {resultThird}";

            ComparingPDF comparingPDF = new ComparingPDF();
            Dictionary<string, (string, string, string)> differences = comparingPDF.TestCompareThree(
                resultFirst.Item1, resultSecond.Item1, resultThird.Item1);

            if (resultFirst.Item2 != "Success" || resultSecond.Item2 != "Success" || resultThird.Item2 != "Success")
            {
                ErrorAlert = $"Error: {resultFirst.Item2}";
                HasError = true;
            }
            else
            {
                HasError = false;
            }

            if (differences == null || differences.Count == 0)
            {
                Report = "No differences found among the three PDF files.";
            }
            else
            {
                StringBuilder reportBuilder = new StringBuilder();

                reportBuilder.AppendLine($"<div class=\"file-info\">");
                reportBuilder.AppendLine($"  <h3 class=\"file-name\">File Name 1: {_fileNameFirst}</h3>");
                reportBuilder.AppendLine($"  <p class=\"file-path\">Path: {resultFirst.Item1}</p>");
                reportBuilder.AppendLine($"</div>");
                reportBuilder.AppendLine($"<div class=\"file-info\">");
                reportBuilder.AppendLine($"  <h3 class=\"file-name\">File Name 2: {_fileNameSecond}</h3>");
                reportBuilder.AppendLine($"  <p class=\"file-path\">Path: {resultSecond.Item1}</p>");
                reportBuilder.AppendLine($"</div>");
                reportBuilder.AppendLine($"<div class=\"file-info\">");
                reportBuilder.AppendLine($"  <h3 class=\"file-name\">File Name 3: {_fileNameThird}</h3>");
                reportBuilder.AppendLine($"  <p class=\"file-path\">Path: {resultThird.Item1}</p>");
                reportBuilder.AppendLine($"</div>");

                foreach (var diff in differences)
                {
                    reportBuilder.AppendLine($"<div class=\"difference\">");
                    reportBuilder.AppendLine($"  <h3 class=\"difference-key\">Result Differences - {diff.Key}:</h3>");
                    if (!string.IsNullOrEmpty(diff.Value.Item1))
                    {
                        reportBuilder.AppendLine($"  <div class=\"difference-file1\"><span style='color: green; font-weight: bold;'>{_fileNameFirst}:</span> <span style='background-color: #e8f5e9;'>{diff.Value.Item1}</span></div>");
                    }
                    if (!string.IsNullOrEmpty(diff.Value.Item2))
                    {
                        reportBuilder.AppendLine($"  <div class=\"difference-file2\"><span style='color: blue; font-weight: bold;'>{_fileNameSecond}:</span> <span style='background-color: #e3f2fd;'>{diff.Value.Item2}</span></div>");
                    }
                    if (!string.IsNullOrEmpty(diff.Value.Item3))
                    {
                        reportBuilder.AppendLine($"  <div class=\"difference-file3\"><span style='color: red; font-weight: bold;'>{_fileNameThird}:</span> <span style='background-color: #ffebee;'>{diff.Value.Item3}</span></div>");
                    }
                    reportBuilder.AppendLine($"</div>");
                }

                GeneratorPDF generatorPDF = new GeneratorPDF();

                string uniqueKeyForPAth = Guid.NewGuid().ToString().Substring(0, 5);
                await JSRuntime.InvokeVoidAsync("savePdfSrc", uniqueKeyForPAth);

                string outputPath = JsonHelper.ReportPathName(env.WebRootPath, uniqueKeyForPAth).Item1;

                try
                {
                    generatorPDF.GenerateHtmlForCompare(_fileNameFirst, _fileNameSecond, _fileNameThird,
                        dateTime, reportBuilder.ToString(), outputPath);
                }
                catch (Exception ex)
                {
                    Console.WriteLine($"Error message - {ex.Message}");
                }
                pdfSrc = uniqueKeyForPAth;
                await InvokeAsync(StateHasChanged);

            }
            IsCompare = false;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            MyText = $"Error: {ex.Message}";
            IsCompare = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    private void ToggleModal()
    {
        ModalClass = ModalClass == "modal-hidden" ? "modal-visible" : "modal-hidden";
    }

    private async void CleanJson()
    {
        FolderContent.ClearFolderContents(jsonFolder);
    }

    private async Task CleanReport()
    {
        _reportPath = Path.Combine(env.WebRootPath, "reports");
        _tempFoldePath = Path.Combine("tempZip");

        try
        {
            DirectoryInfo reportFolder = new DirectoryInfo(_reportPath);
            if (reportFolder.Exists)
            {
                foreach (FileInfo file in reportFolder.GetFiles())
                {
                    file.Delete();
                }
                foreach (DirectoryInfo dir in reportFolder.GetDirectories())
                {
                    dir.Delete(true);
                }
            }

            DirectoryInfo tempFolder = new DirectoryInfo(_tempFoldePath);
            if (tempFolder.Exists)
            {
                foreach (FileInfo file in tempFolder.GetFiles())
                {
                    file.Delete();
                }
                foreach (DirectoryInfo dir in tempFolder.GetDirectories())
                {
                    dir.Delete(true);
                }
            }
        }
        catch (Exception ex)
        {
            MyText = ex.Message;
        }
    }

    private async Task RemoveIframeSource()
    {
        uniqueKey = Guid.NewGuid().ToString();
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += NavManager_LocationChanged;
    }

    private void NavManager_LocationChanged(object sender, LocationChangedEventArgs e)
    {
        CleanReport();
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= NavManager_LocationChanged;
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e, int copyNumber)
    {
        string targetFolderPath = JsonHelper.GetFolderTargetForExtract();
        IReadOnlyList<IBrowserFile> selectedFiles;
        selectedFiles = e.GetMultipleFiles();

        IsLoading = true;
        await InvokeAsync(StateHasChanged);

        foreach (var file in selectedFiles)
        {
            string uniqueIdentifier = Guid.NewGuid().ToString().Substring(0, 5);

            var pathCopy = $"{targetFolderPath}\\{uniqueIdentifier}Copy{copyNumber}{file.Name}";


            if (File.Exists(pathCopy))
            {
                File.Delete(pathCopy);
            }

            if (copyNumber == 1)
            {
                FilePathCopyFirst = pathCopy;
                _fileNameFirst = file.Name;
                isFile1Uploaded = true;
            }
            else if (copyNumber == 2)
            {
                FilePathCopySecond = pathCopy;
                _fileNameSecond = file.Name;
                isFile2Uploaded = true;
            }
            else
            {
                FilePathCopyThird = pathCopy;
                _fileNameThird = file.Name;
                isFile3Uploaded = true;
            }
            _fileSize = file.Size.ToString();

            try
            {
                FileStream fs = File.Create(pathCopy);
                const int bufferSize = 10 * 1024 * 1024; // 10 MB buffer size
                byte[] buffer = new byte[bufferSize];
                using (Stream stream = file.OpenReadStream(maxAllowedSize: 104857600)) // 100 MB
                {
                    int bytesRead;
                    while ((bytesRead = await stream.ReadAsync(buffer, 0, buffer.Length)) > 0)
                    {
                        await fs.WriteAsync(buffer, 0, bytesRead);
                    }
                }
                fs.Close();
            }
            catch (Exception ex)
            {
                Console.WriteLine($"error: {ex.Message}");
            }
        }
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("updateIframeSrc", $"/reports/report_{pdfSrc}.html#zoom=150");
        }
    }
}


<style>
    /* Existing styles */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .file-input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .upload-success {
        background-color: limegreen;
        color: white;
        padding: 5px;
        margin-top: 10px;
        border-radius: 3px;
        box-shadow: 0 4px 6;
        px 0 rgba(0, 0, 0, 0.2);
        width: fit-content;
    }

    .info-compare-container {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .btn-info {
        background-color: #3cb371;
        border-color: #3cb371;
        margin-right: 20px;
    }

    input[type=file] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-family: Arial, sans-serif;
    }

    .button-row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        margin-bottom: 20px;
    }

    .output-text {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        font-family: Arial, sans-serif;
        white-space: pre-wrap;
    }

    .header {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 24px;
        color: #007bff;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .form-control {
        margin-bottom: 12px;
    }

    .header, .btn, .custom-file-upload {
        font-size: 16px;
        font-family: Arial, sans-serif;
    }

    .btn {
        display: inline-block;
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn[disabled] {
        cursor: not-allowed;
        opacity: 0.65;
        background-color: #007bff;
        border-color: #007bff;
    }

    body .container {
        position: relative;
        top: 60px;
        left: 60px;
    }

    h3 {
        font-size: 24px;
        color: #007bff;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .pdf-frame {
        margin-top: 50px;
        border: 5px solid #007bff;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .alert-success {
        margin-top: 20px;
    }

    .success-message {
        margin-top: 50px;
    }

    .modal-hidden {
        display: none;
    }

    .modal-visible {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
